.cs-style-3 section img {
  display: inline-block;
  width: 100%;
  height: 60vh;
  border: 5px solid black;
}

.imgNormal {
  // width: 100%;
  // height: 80vh;
  -webkit-transition: width 2s, -webkit-transform 2s;
  -moz-transition: width 2s, -moz-transform 2s;
  -ms-transform: width 2s, -ms-transform 2s;
  -o-transform: width 2s, -o-transform 2s;
  transition: width 2s, transform 2s;
}

.cs-style-3 section:hover img,
.cs-style-3 section.cs-hover img {
	-webkit-transform: translateY(-0px);
	-moz-transform: translateY(-0px);
	-ms-transform: translateY(-0px);
	transform: translateY(-0px);
  // -webkit-filter: blur(2px); filter: blur(2px);
  /*background: rgba(0, 0, 0, 0.3);*/
}

.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
  margin-top: -225px;
	top: auto;
  text-align: center;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.cs-style-3 section:hover figcaption,
.cs-style-3 section.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(-75px);
	-moz-transform: translateY(-75px);
	-ms-transform: translateY(-75px);
	transform: translateY(-75px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.cs-style-3 figcaption h3 {
	color: #BA0C2F;
  font-size: 4em;
}

.cs-style-3 figcaption span {
  font-size: 2.5em;
}
