.cs-style-3 section img {
  width: 100%;
  height: 100%;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.cs-style-3 section:hover img,
.cs-style-3 section.cs-hover img {
	-webkit-transform: translateY(-0px);
	-moz-transform: translateY(-0px);
	-ms-transform: translateY(-0px);
	transform: translateY(-0px);
  -webkit-filter: blur(3px); filter: blur(3px);
}

.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
  text-align: center;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.cs-style-3 section:hover figcaption,
.cs-style-3 section.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(-300px);
	-moz-transform: translateY(-300px);
	-ms-transform: translateY(-300px);
	transform: translateY(-300px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.cs-style-3 figcaption h3 {
	color: #BA0C2F;
}
