

.workItem {
  transition: all 1s, ease 1s;
  transition: translate ease 1s;
}

.active {
  transition-property: left, top;
  transition-duration: 1s, 1s;
  transition-delay: 0;
  transition-timing-function: ease;
  left: 37.5%;
  // top: 40%;

}

.expand {
  transition: all 1s, ease 1s;
  width: 95%;
  height: 95%;
  left: 1%;
  top: 1%;
}
